@import url('https://fonts.googleapis.com/css?family=Titan+One');
:root {
  --bs-blue: #9bc3ff;
  --bs-indigo: #6610f2;
  --main-color: #e31b23;
  --main-color-lighter: #c5d49451;
  --main-light-back: #f4efdc;
  --main-dark-back: #453c2b;
  --main-text-light: rgb(238, 218, 193);
  --main-text-dark: #000000;
  --accent-bright: #f9a03f;
  --accent-muted-2: #a0ae9c5a;

  --font-body-1: "Theano Didot Reg";
  --font-body-sans: "Swis721 Lt Bt";
  --font-title: "Ahsing Regular";
  --font-header-1: "Rosie Brown Serif";

  --title-transition: font-size 1s, color 4s;
}
body {
  background-color: var(--main-light-back);
  background-size: 60%;

  backdrop-filter: blur(10);
  background-attachment: fixed;
  font-family: var(--font-body-1);
  margin: 0px;
  color: var(--main-text-dark);
}

/*General theme*/
a {
  text-decoration: none;
  color: var(--main-color);
}
a:hover {
  text-decoration: underline 1px;
}

img {
  display: inline-block;
  width: 40%;
}

img.right {
  float: left;
  margin: 5px;
}

img.center {
}

p {
  text-align: justify;
}

div.wrap {
  float: right;
  margin: 5px;
}
h2 {
  font-family: var(--font-header-1);

  text-decoration: none;
  font-weight: lighter;

  letter-spacing: 5px;
  padding: 0;
  margin: 0;
  font-size: 85px;
}

h3 {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

br.on-focus {
  display: none;
}

/*constant elements*/
div#page-container {
  margin-left: 8%;
  margin-right: 8%;
  padding: 1%;
}

div#title-container {
  margin-top: 80px;
  color: inherit;
}
h1#title {
  font-weight: 100;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font-title);
  color: var(--main-color);
  transition: var(--title-transition);
}
h1#title.on-home {
  font-size: 80px;
  line-height: 70px;

  transition: var(--title-transition);
}

div ul.nav {
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  list-style-type: none;
  padding: 0px;
  margin-left: 30%;
  margin-right: 30%;
  font-size: 18px;
}

div ul.nav li {
  text-transform: lowercase;
  padding: 10px;
  border: rgba(0, 0, 0, 0) 1px solid;
  color: var(--main-text-dark);
}
div ul.nav li:first-child:nth-last-child(1) {
  width: 100%;
}
div ul.nav li:hover {
  /*border: var(--main-color) 1px solid;*/
  color: var(--main-color);
}

footer {
  padding: 30px;
  padding-left: 23%;
  padding-right: 23%;
 
}
footer div.content-container {
  border-top: #000000 solid 1px;
  border-bottom: #000000 solid 1px;
}
footer div.content-container h3 {
  padding-top: 30px;
  text-align: center;
  font-family: var(--font-body-sans);
  line-height: 100%;
  font-size: 190%;
}
footer div.content-container h4 {
  text-align: center;
  line-height: 15px;
  font-style: italic;
  font-weight: 100;
  margin: 0;
  padding-top: 5px;
}

footer div.column-container {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
}

footer div.column-container div {
  padding: 10px;
  font-style: italic;

  align-items: center;
}

footer div div.column-one {
  text-align: right;
}
footer div div.column-two {
}

h2.welcome-txt {
  text-align: center;
}

div#home-container {
  display: grid;
  grid-template-columns: 55% 45%;
}

div#home-container div.intro p img {
  
  width: 210px;
  padding: 15px;
  float: left;
  display: inline;
}

div#home-container p.tagline {
  text-align: center;
  font-size: 24px;
}

div#home-container div#whatsapp-details{
  padding: 30px;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-self: center;
  align-content: center;
  justify-content: center;
  align-self: center;
  
  background-color: var(--accent-muted-2);
  color: black;
  
}
div#home-container div#whatsapp-details:hover {
  color: var(--main-color);
}

div#home-container div#whatsapp-details img{
  display: block;
  width: 100%;
} 
div#home-container div#whatsapp-details p {
  align-self: center;
  justify-self: center;
  padding: 10px;
}
/*Resojirsfn*/
#resources-page {
  display: grid;
  grid-template-columns: 60% 40%;
}
#resources-page h3 {
  font-size: 35px;
  margin-bottom: 5px;
  font-weight: 200;
}
#resources-page h4 {
  font-family: var(--font-body-sans);
  font-size: 25px;
  margin-bottom: 0;
  padding-bottom: 0;
}
#resources-page div.intro img {
  width: 100%;
}
div#resources-page div.intro {
  
  align-content: center;
  justify-content: center;
  align-items: center;
  
}
div#resources-page div.intro h2{ 
  align-self: center;
  justify-self: center;
  padding-bottom: 0;
}
#resources-page div.intro p  {
  padding-right: 50px;
  width: fit-content;
  padding: 0;
  margin: 0;
  
}
#resources-page div#resource-folder iframe {
 
width: 100%;
height: 280px;
border: none;
  background-color: var(--main-color-lighter);
  color: black;

}
#resources div#share-resource {
  text-align: center;
  padding: 100px;
}
#resources-page img.main-image {
  display: block;
  margin: 0px auto;
  width: 80%;
}
#resources-page div#share-resource p.addtoshared {
  text-align: center;
  margin: 0px auto;

  
} 
#resources-page div#resource-links {
 
  margin-right: 50px;

}

#resources-page div#resource-links div.card-container{
  display: grid;
  grid-template-columns: auto auto;
  
  
}
#resources-page div#resource-links div.card-container a {
  text-decoration: none;
}
#resources-page div#resource-links div.card-container .card{
  text-decoration: none;
  height: max-content;
  color: black;
  padding:0px 0px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  border: black 1px solid;
}
#resources-page div#resource-links div.card-container .card img {
  width:fit-content;
  padding: 10px;
}
#resources-page div#resource-links div.card-container .card h3 {
  font-family: var(--font-header-1);
}
#resources-page div#resource-links div.card-container .card div {
  padding: 10px;
  width: fit-content;
  align-content: center;
  justify-content: center;
}

/*arc*/

#archive-page div.intro {
  display: grid;
  grid-template-columns: 40% 60%;

  align-items: center;
}
#archive-page div.intro img {
  width: 100%;
}
#archive-page div.folder {
  width: 100%;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 35% 65%;
  justify-items: center;
  align-items: center;
}
#archive-page div.folder .descript {
  padding: 20px;
}
#archive-page div.folder h3 {
  font-size: 30px;
}
#archive-page div.folder iframe {
  border: none;
  width: 100%;
  height: 400px;
  padding: 20px;
  color: #000000;
  font-family: var(--font-header-1);
  background-color: transparent;
}
#archive-page div.folder iframe.list {
  display: none;
}

/*CALENDAR*/

div#calendar-page {
  align-items: center;
  justify-items: center;
}

div#calendar-header img {
  height: 100px;
  width: auto;
}
div#calendar-header h2 {
}
#month-calendar {
  display: grid;
  grid-template-columns:
    calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7)
    calc(100% / 7) calc(100% / 7) calc(100% / 7);
}
#month-calendar-controller {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}
 div#calendar-content {
  padding: 0 40px;
}
 div#calendar-content div#month-calendar-controller {
  display: grid;
  grid-template-columns: 33.3333333333% 33.3333333333% 33.3333333333%;
  text-align: center;
  margin: 20px;
  margin-left: 20%;
  margin-right: 20%;
  justify-self: left;
}
 div#calendar-content div#month-calendar {
  display: grid;
  grid-template-columns: 14.2857142857% 14.2857142857% 14.2857142857% 14.2857142857% 14.2857142857% 14.2857142857% 14.2857142857%;
}
 div#calendar-content div#month-calendar div {
  padding: 10px;
}
 div#calendar-content div#month-calendar div.table-header {
  text-align: center;
}
 div#calendar-content div#month-calendar div.cell {
  border-top: 1px solid black;
  font-family: "Neue Haas Grotesk Text Pro";
  font-size: 10px;
}
e div#calendar-content div#month-calendar div.cell div {
  padding: 0px;
  padding-top: 5px;
  font-weight: 200;
}

  div#calendar-content
  div#month-calendar
  div.cell
  div
  span.name {
  font-weight: 400;
}
div#calendar-page
  div#calendar-content
  div#month-calendar
  div.cell
  div
  span.location {
  font-style: italic;
}
div#calendar-page
  div#calendar-content
  div#month-calendar
  div.cell
  div:hover
  span.name {
  border-bottom: 1px black solid;
}
div#calendar-page
  div#calendar-content
  div#month-calendar
  div.cell
  div:hover
  span.location {
  border-bottom: 1px black solid;
}
div#calendar-page
  div#calendar-content
  div#month-calendar
  div.cell
  div.one-time {
  border-radius: 5px;
  border: none;
  color: black;
}
div#calendar-page div#calendar-content div#month-calendar div.month-cal {
  min-height: 80px;
}
div#calendar-page div#calendar-content div#month-calendar div.previous-month,
div#calendar-page div#calendar-content div#month-calendar div.next-month {
  color: lightcoral;
}
div#calendar-header {
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: 100%;
  padding: 0;
  margin: 0;
  text-orientation: mixed;
  writing-mode: vertical-rl;
  text-align: left;
  justify-self: start;
  align-self: start;
}
div#home-container img {
  padding: auto auto;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  text-align: center;
  grid-column: span 2;
}
 div#event-details {
  border: 1px solid black;
  width: 100%;
  height: 400px;
}
div#calendar-page div#event-details div {
  width: 100%;
  padding: 10px;
}

div#home-container img {
  width: 100%;
}
 div#weekly-cal {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
}

 div#weekly-cal .controller {
  width: 60%;
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}

div#weekly-cal div#calendar-days {
  padding: 0;
  margin: 0;
  width: 100%;
}

 div#weekly-cal div#calendar-days .day {
  border-bottom: solid black 1px;
  padding: 20px;
  margin: 10px 0;
  display: grid;
  grid-template-columns: 17% 83%;
  align-items: center;
  justify-items: center;
}

 div#weekly-cal div#calendar-days .day p {
  padding: 0;
  margin: 0;
}


 div#weekly-cal div#calendar-days .day div {
  padding: 0;
  margin: 0;
}

#page-container .calendar-container {
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 0 90px;
}
div#date-label {
  text-align: center;
  align-self: center;
  font-family: var(--font-body-sans);
  text-transform: uppercase;
}

div#date-label .bignumber {
  font-size: 30px;
  font-weight: 600;
  color: var(--main-color);
}
div#weekly-cal div#calendar-days .day {
  
}
div#weekly-cal div#calendar-days .day h5 {
  text-align: left;
  font-family: var(--font-body-sans);
  padding: 0;
  margin: 0; 
  font-size: 16px;
}
 div#weekly-cal div#calendar-days .day div {
  padding: 10px;
}
 div#weekly-cal div#calendar-days .day div h6 {
  padding: 0;
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
  font-size: 12px;
  font-family: var(--font-body-sans);
}
 div#weekly-cal div#calendar-days .day .event h5.event-title{
  font-size: 35px;
  text-transform: capitalize;
  padding-top: 0;
  margin-top: 0;
  font-weight: 400;
  font-family: var(--font-body-1);

 }
div#weekly-cal div#calendar-days .day .event {
  text-align: left;
  justify-self: left;
}

/*Newsletter*/
div#newsletter-page div.header {
  display: grid;
  grid-template-columns: 25% 75%;
}
div#newsletter-page div.header img {
  justify-self: right;
  align-self: end;
  height: max-content;
  width: 100%;
}
div#newsletter-page div.header div {
  align-self: center;
}

div#newsletter-page div.newsletter-copy img {
  width: 50%;
  padding: 15px;
}
div#newsletter-page div.newsletter-copy img.right {
  float: right;
}
div#newsletter-page div.newsletter-copy img.left {
  float: left;
}
div#newsletter-page div.newsletter-copy {
  column-count: 2;
  column-gap: 4%;

  flex-wrap: wrap;
}

/*About Page*/

div#about-page img.main-image {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}
div.about-card-container {
  display: grid;
  grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
}

div.about-card-container div.card {
  margin: 10px;
  padding: 25px;
  border: #000000 solid 1px;
}

div.about-card-container div.card h5 {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}
div.about-card-container div.card h6 {
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: large;
}
div.about-card-container div.card img.card-img-top {
  width: 100%;
}


div#about-page h2 {
    text-align: center;
  }

  div#about-page .contact {
    background-color: var(--accent-muted-2);
    padding: 30px;
    margin: 20px auto;
    align-content: center;
    width: 500px;
  }

  div#about-page .contact div img{
    width: 100px;
  }
    div#about-page .contact div {
      display: grid;
      grid-template-columns: min-content auto;
      justify-items: center;
      align-items: center;
    }
    div#about-page .contact div p {
      font-size: large;
      color: #000000;
    }
    div#about-page .contact div p span {
      font-size: 25px;
    }

/*Resources Page*/
div.resources.page-header {
}


/*TITLA ANIMATION*/
:root {
  --h1-font-size: 30vmin;
  --primary-color: rgb(245, 102, 0);
  --secondary-color: rgb(230, 96, 0);
  --tiger-image: url(/public/Pattern.gif);
  --texture-image: url(/public/Pattern.gif);
}

div#title-container {
justify-content: center;
align-content: center;
}

h1#title {
  margin: 10px auto;
  padding: 10px;
  background: center/cover var(--secondary-color) var(--tiger-image);
  background-size:max-content;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  width: min-content;
}
 h1#title  &:last-child {
    position: absolute;
    top: 0; left: 0;
    background-image: var(--texture-image);
    mix-blend-mode: soft-light;
  }
  
h1#title span { font-size: calc(var(--h1-font-size) / 1.825); }



@font-face {
  font-family: "Ahsing Regular";
  src: url("/src/assets/fonts/ahsing-regula.otf");
}

@font-face {
  font-family: "Rosie Brown Serif";
  src: url("/src/assets/fonts/rosie-brown-serif.otf");
}

@font-face {
  font-family: "Theano Didot Reg";
  src: url("/src/assets/fonts/theano-didot.ttf");
}
@font-face {
  font-family: "Swis 721 Lt Bt";
  src: url("/src/assets/fonts/swis721-lt-bt.TTF");
}
@media screen and (max-width: 1220px) {
  
}
@media screen and (max-width: 1150px) {
  div ul.nav {
    margin-left: 15%;
    margin-right: 15%;
  }
  

   div#home-container a.whatsapp-details {

  display: grid;
  grid-template-columns: 100%;
  padding: 20px 0;
  margin-bottom: 70px;
   }

  div#home-container a.whatsapp-details div#whatsapp-details {
    width: 60%;
    justify-self: center;
  }
 div#home-container a.whatsapp-details div#whatsapp-details p {
  text-align: left;
 }

  #resources-page {
  display: grid;
  grid-template-columns: 100%;
}

#resources-page div#resource-links {
  margin: 0;
}

div#resources-page div.intro p {
  padding-right: 0;
}
}

@media screen and (max-width: 970px) {
  h2 {
    font-size: 40px;
  }
  #archive-page h2 {
    text-align: center;
  }
  div#resources-page h2 {
    text-align: center;
  }
  div#home-container {
    grid-template-columns: 100%;
  }


  div#newsletter-page div.header {
    grid-template-columns: 100%;
  }
  div#newsletter-page div.header img {
    width: 80%;
    justify-self: center;
  }
  div#archive-page div.intro {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
  }

  div#archive-page div.intro img {
    width: 60%;
    float: none;
  }
  div#archive-page div.folder {
    width: 100%;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
  }
  div#archive-page div.folder .descript {
    padding: 20px;
  }
  #archive-page div.folder h3 {
    text-align: center;
    font-size: 20px;
  }
  #archive-page div.folder iframe {
    border: none;
    width: 100%;
    height: 350px;
    padding: 20px;
    color: #000000;
    font-family: var(--font-header-1);
    background-color: transparent;
  }
  div#about-page div.about-card-container {
    grid-template-columns: 50% 50%;
  }

  
  


  footer {
    padding-left: 6%;
    padding-right: 6%;
  }
}

@media screen and (max-width: 750px) {
  #resources-page div#resource-links div.card-container .card{ 
    grid-template-columns: 100%;
  }
  div ul.nav {
    margin-left: 8%;
    margin-right: 8%;
    grid-template-columns: 100%;
  }
  #archive-page div.folder iframe.grid {
    display: none;
    width: 100%;
  }
  #archive-page div.folder iframe.list {
    display: block;
  }
  /*Newsletter*/
  div#newsletter-page img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  div#newsletter-page img.right {
    float: none;
  }
  div#newsletter-page img.left {
    float: none;
  }
  div#newsletter-page div.newsletter-copy {
    column-count: 1;
    column-gap: 4%;
    flex-wrap: wrap;
  }
div#home-container div div.intro p img{
    display: block;
    float: none;
  }

  div#home-container div#calendar-content {
    padding: 0;
  }
  div#home-container a.whatsapp-details div#whatsapp-details {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 515px) {
  
  div ul.nav {
    grid-template-columns: 100%;
  }
  div#about-page div.about-card-container {
    grid-template-columns: 100%;
  }
  footer div.column-container {
    display: grid;
    grid-template-columns: 100%;
    padding-left: 6%;
    padding-right: 6%;
  }
  footer {
    padding-left: 6%;
    padding-right: 6%;
  }
  footer div.column-one ul {
    padding: 0px;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: right;
    margin-bottom: 0px;
  }
  footer div.column-one ul li {
    padding-left: 10px;
    padding-right: 10px;
  }

  footer div.column-one ul li:nth-child(2) {
    text-align: left;
  }
  footer div.column-one ul li:nth-child(4) {
    text-align: left;
  }
  footer div.column-one ul li:nth-child(6) {
    text-align: left;
  }
}

.hidden {
  display: none;
}
