:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --main-color: #e31b23;
  --main-color-lighter: #de9598;
  --main-light-back: #f4efdc;
  --main-dark-back: #453c2b;
  --main-text-light: rgb(238, 218, 193);
  --main-text-dark: #000000;
  --accent-bright: #f9a03f;
  --accent-muted: #948392;
  --accent-muted-2: #4e937a;

  --font-body-1: "Theano Didot Reg";
  --font-title: "Ahsing Regular";
  --font-header-1: "Rosie Brown Serif";

  --title-transition: font-size 1s, color 4s;
}
body {
  background-color: var(--main-light-back);
  background-size: 60%;

  backdrop-filter: blur(10);
  background-attachment: fixed;
  font-family: var(--font-body-1);
  margin: 0px;
  color: var(--main-text-dark);
}

/*General theme*/
a {
  text-decoration: none;
  color: var(--main-color);
}
a:hover {
  text-decoration: underline 1px;
}

img {
  display: inline-block;
  width: 40%;
}

img.right {
  float: left;
  margin: 5px;
}

img.center {
}

p {
  text-align: justify;
}

div.wrap {
  float: right;
  margin: 5px;
}
h2 {
  font-family: var(--font-header-1);

  text-decoration: none;
  font-weight: lighter;

  letter-spacing: 5px;
  padding: 0;
  margin: 0;
  font-size: 95px;
}

h3 {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

br.on-focus {
  display: none;
}

/*constant elements*/
div#page-container {
  margin-left: 8%;
  margin-right: 8%;
  padding: 1%;
}

div#title-container {
  margin-top: 80px;
  color: inherit;
}
h1#title {
  font-weight: 100;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font-title);
  color: var(--main-color);
  transition: var(--title-transition);
}
h1#title.on-home {
  font-size: 80px;
  line-height: 70px;

  transition: var(--title-transition);
}

div ul.nav {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  text-align: center;
  list-style-type: none;
  padding: 0px;
  margin-left: 30%;
  margin-right: 30%;
  font-size: 18px;
}

div ul.nav li {
  text-transform: lowercase;
  padding: 10px;
  border: rgba(0, 0, 0, 0) 1px solid;
  color: var(--main-text-dark);
}
div ul.nav li:first-child:nth-last-child(1) {
  width: 100%;
}
div ul.nav li:hover {
  /*border: var(--main-color) 1px solid;*/
  color: var(--main-color);
}

footer {
  padding: 30px;
  padding-left: 23%;
  padding-right: 23%;
  margin-top: 30px;
}
footer div.content-container {
  border-top: #000000 solid 1px;
  border-bottom: #000000 solid 1px;
}
footer div.content-container h3 {
  padding-top: 30px;
  text-align: center;
  line-height: 100%;
  font-size: 190%;
}
footer div.content-container h4 {
  text-align: center;
  line-height: 15px;
  font-style: italic;
  font-weight: 100;
  margin: 0;
  padding-top: 5px;
}

footer div.column-container {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
}

footer div.column-container div {
  padding: 10px;
  font-style: italic;

  align-items: center;
}

footer div div.column-one {
  text-align: right;
}
footer div div.column-two {
}

h2.welcome-txt {
  text-align: center;
}
/*Resojirsfn*/
#resources-page div.intro {
  display: grid;
  grid-template-columns: 40% 60%;
}
#resources-page div.intro img {
  width: 100%;
}

#resources-page div.folder iframe {
  border: none;
  width: 100%;
  height: 400px;
  font-family: var(--font-header-1);
  background-color: #f9a03f;
}
/*arc*/

#archive-page div.intro {
  display: grid;
  grid-template-columns: 40% 60%;

  align-items: center;
}
#archive-page div.intro img {
  width: 100%;
}
#archive-page div.folder {
  width: 100%;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 35% 65%;
  justify-items: center;
  align-items: center;
}
#archive-page div.folder .descript {
  padding: 20px;
}
#archive-page div.folder h3 {
  font-size: 30px;
}
#archive-page div.folder iframe {
  border: none;
  width: 100%;
  height: 400px;
  padding: 20px;
  color: #000000;
  font-family: var(--font-header-1);
  background-color: transparent;
}
#archive-page div.folder iframe.list {
  display: none;
}

/*CALENDAR*/

div#calendar-page {
  align-items: center;
  justify-items: center;
}

div#calendar-header img {
  height: 100px;
  width: auto;
}
div#calendar-header h2 {
}
#month-calendar {
  display: grid;
  grid-template-columns:
    calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7)
    calc(100% / 7) calc(100% / 7) calc(100% / 7);
}
#month-calendar-controller {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}
div#calendar-page div#calendar-content {
  padding: 20px;
}
div#calendar-page div#calendar-content div#month-calendar-controller {
  display: grid;
  grid-template-columns: 33.3333333333% 33.3333333333% 33.3333333333%;
  text-align: center;
  margin: 20px;
  margin-left: 20%;
  margin-right: 20%;
  justify-self: left;
}
div#calendar-page div#calendar-content div#month-calendar {
  display: grid;
  grid-template-columns: 14.2857142857% 14.2857142857% 14.2857142857% 14.2857142857% 14.2857142857% 14.2857142857% 14.2857142857%;
}
div#calendar-page div#calendar-content div#month-calendar div {
  padding: 10px;
}
div#calendar-page div#calendar-content div#month-calendar div.table-header {
  text-align: center;
}
div#calendar-page div#calendar-content div#month-calendar div.cell {
  border-top: 1px solid black;
  font-family: "Neue Haas Grotesk Text Pro";
  font-size: 10px;
}
div#calendar-page div#calendar-content div#month-calendar div.cell div {
  padding: 0px;
  padding-top: 5px;
  font-weight: 200;
}
div#calendar-page
  div#calendar-content
  div#month-calendar
  div.cell
  div
  span.name {
  font-weight: 400;
}
div#calendar-page
  div#calendar-content
  div#month-calendar
  div.cell
  div
  span.location {
  font-style: italic;
}
div#calendar-page
  div#calendar-content
  div#month-calendar
  div.cell
  div:hover
  span.name {
  border-bottom: 1px black solid;
}
div#calendar-page
  div#calendar-content
  div#month-calendar
  div.cell
  div:hover
  span.location {
  border-bottom: 1px black solid;
}
div#calendar-page
  div#calendar-content
  div#month-calendar
  div.cell
  div.one-time {
  border-radius: 5px;
  border: none;
  color: black;
}
div#calendar-page div#calendar-content div#month-calendar div.month-cal {
  min-height: 80px;
}
div#calendar-page div#calendar-content div#month-calendar div.previous-month,
div#calendar-page div#calendar-content div#month-calendar div.next-month {
  color: lightcoral;
}
div#calendar-header {
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: 100%;
  padding: 0;
  margin: 0;
  text-orientation: mixed;
  writing-mode: vertical-rl;
  text-align: left;
  justify-self: start;
  align-self: start;
}
div#calendar-page img {
  padding: auto auto;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  text-align: center;
  grid-column: span 2;
}
div#calendar-page div#event-details {
  border: 1px solid black;
  width: 100%;
  height: 400px;
}
div#calendar-page div#event-details div {
  width: 100%;
  padding: 10px;
}

div#calendar-page div#weekly-cal {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
}

div#calendar-page div#weekly-cal .controller {
  width: 60%;
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}

div#calendar-page div#weekly-cal div#calendar-days {
  padding: 0;
  margin: 0;
  width: 100%;
}

div#calendar-page div#weekly-cal div#calendar-days .day {
  border-bottom: solid black 1px;
  padding: 10px;
  margin: 10px 0;
  height: 120px;
  display: grid;
  grid-template-columns: 5% 95%;
  align-items: center;
  justify-items: center;
}

div#calendar-page div#weekly-cal div#calendar-days .day p {
  padding: 0;
  margin: 0;
}
div#calendar-page div#weekly-cal div#calendar-days .day div {
  padding: 0;
  margin: 0;
}

#page-container .calendar-container {
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 0 90px;
}

div#calendar-page div#weekly-cal div#calendar-days .day h5 {
  padding: 0;
  margin: 0;
  writing-mode: vertical-rl;
  text-align: center;
  text-transform: uppercase;
  font-family: "Swis721";
  font-size: 16px;
}
div#calendar-page div#weekly-cal div#calendar-days .day div {
  padding: 10px;
}
div#calendar-page div#weekly-cal div#calendar-days .day div h6 {
  padding: 0;
  margin: 0;
}

/*Newsletter*/
div#newsletter-page div.header {
  display: grid;
  grid-template-columns: 25% 75%;
}
div#newsletter-page div.header img {
  justify-self: right;
  align-self: end;
  height: max-content;
  width: 100%;
}
div#newsletter-page div.header div {
  align-self: center;
}

div#newsletter-page div.newsletter-copy img {
  width: 50%;
  padding: 15px;
}
div#newsletter-page div.newsletter-copy img.right {
  float: right;
}
div#newsletter-page div.newsletter-copy img.left {
  float: left;
}
div#newsletter-page div.newsletter-copy {
  column-count: 2;
  column-gap: 4%;

  flex-wrap: wrap;
}

/*About Page*/
div.about-card-container {
  display: grid;
  grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
}

div.about-card-container div.card {
  margin: 10px;
  padding: 35px;
  border: #000000 solid 1px;
}

div.about-card-container div.card h5 {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  font-size: 30px;
}
div.about-card-container div.card h6 {
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: large;
}
div.about-card-container div.card img.card-img-top {
  width: 100%;
}

/*Resources Page*/
div.resources.page-header {
}

@font-face {
  font-family: "Ahsing Regular";
  src: url("/src/assets/fonts/ahsing-regula.otf");
}

@font-face {
  font-family: "Rosie Brown Serif";
  src: url("/src/assets/fonts/rosie-brown-serif.otf");
}

@font-face {
  font-family: "Theano Didot Reg";
  src: url("/src/assets/fonts/theano-didot.ttf");
}

@media screen and (max-width: 1150px) {
  div ul.nav {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media screen and (max-width: 970px) {
  h2 {
    font-size: 40px;
  }

  div#newsletter-page div.header {
    grid-template-columns: 100%;
  }
  div#newsletter-page div.header img {
    width: 80%;
    justify-self: center;
  }
  div#archive-page div.intro {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
  }

  div#archive-page div.intro img {
    width: 60%;
    float: none;
  }
  div#archive-page div.folder {
    width: 100%;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
  }
  div#archive-page div.folder .descript {
    padding: 20px;
  }
  #archive-page div.folder h3 {
    text-align: center;
    font-size: 20px;
  }
  #archive-page div.folder iframe {
    border: none;
    width: 100%;
    height: 400px;
    padding: 20px;
    color: #000000;
    font-family: var(--font-header-1);
    background-color: transparent;
  }
  div#about-page div.about-card-container {
    grid-template-columns: 50% 50%;
  }
  footer {
    padding-left: 6%;
    padding-right: 6%;
  }
}

@media screen and (max-width: 750px) {
  div ul.nav {
    margin-left: 8%;
    margin-right: 8%;
    grid-template-columns: 100%;
  }
  #archive-page div.folder iframe.grid {
    display: none;
    width: 100%;
  }
  #archive-page div.folder iframe.list {
    display: block;
  }
  /*Newsletter*/
  div#newsletter-page img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  div#newsletter-page img.right {
    float: none;
  }
  div#newsletter-page img.left {
    float: none;
  }
  div#newsletter-page div.newsletter-copy {
    column-count: 1;
    column-gap: 4%;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 515px) {
  div ul.nav {
    grid-template-columns: 100%;
  }
  div#about-page div.about-card-container {
    grid-template-columns: 100%;
  }
  footer div.column-container {
    display: grid;
    grid-template-columns: 100%;
    padding-left: 6%;
    padding-right: 6%;
  }
  footer {
    padding-left: 6%;
    padding-right: 6%;
  }
  footer div.column-one ul {
    padding: 0px;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: right;
    margin-bottom: 0px;
  }
  footer div.column-one ul li {
    padding-left: 10px;
    padding-right: 10px;
  }

  footer div.column-one ul li:nth-child(2) {
    text-align: left;
  }
  footer div.column-one ul li:nth-child(4) {
    text-align: left;
  }
  footer div.column-one ul li:nth-child(6) {
    text-align: left;
  }
}
